{% extends '../pages/base.html'%}
{% load static %}

{% block barra_navegacao_login %}
{% endblock %}

{% block conteudo %}

<h1 class="text-center display-4 mt-2"> Análise Exploratória de Dados </h1>
<h4 class="text-center"> Raul Lomonte Figueiredo </h4> <br><br>

<p> Essa análise exploratória de dados tem o objetivo de responder a seguinte pergunta: </p>
<h4> <b> Como variam os interesses conforme as idades? </b></h4>

<p> Incialmente, vamos ver como são os dados que temos: </p>
<h3>Tabela de informação dos alunos </h3>
{{alunos_head |safe}}
<br>
<h3>Tabela dos interesses </h3>
{{interesses_head |safe}}


<p>Agora iremos juntas as duas tabelas atravez de uma terceira, onde temos os registro de quais categorias e quais graus os alunos votaram.</p>
<h3>Tabela com todas as informação </h3>
{{merge_inicial | safe}}

<p>Agora vamos pegar apenas as colunas que nos importam:</p>

<h3>Tabela com todas as informação mais limpa </h3>
{{merge_limpo|safe}}

<p>Aqui começamos as analises, agrupei com idade e interesse, tirei a media do grau, pois caso não fizesse isso as idades com mais pessoas teriam valor maior,
    depois ordenei pelo grau, como são muitos interesses e muitas idades (de 15 a 50 anos) a tabela não ficou tão representativa. </p>

<h3>Tabela de relação idade com interesse </h3>
{{tabela_idade|safe}}

<p>A maneira que encontrei para deixar tudo mais vizivel é dividir as idades em intervalos de nove (temos 36 idades, entao teremos 4 grupos) 
    e poderemos ver como cada interesse funciona para cada faixa etária e mostrar apenas as cinco coisa que cada faixa
    mais se interessa e tentar notar algum padrão ou tendencia.  </p>

<h3>Tabela de relação de interesse com faixa etária (15 a 23)   </h3>
{{de15_23|safe}}

<h3>Tabela de relação de interesse com faixa etária (24 a 32)   </h3>
{{de24_32|safe}}

<h3>Tabela de relação de interesse com faixa etária (33 a 41)   </h3>
{{de33_41|safe}}

<h3>Tabela de relação de interesse com faixa etária (42 a 50)   </h3>
{{de42_50|safe}}

<h2>Conclusão</h2>
<p>Podemos notar que o que mais interessa aos jovens de 15 a 23 anos são novelas, alunos de 24 a 32 anos se interessam mais por futebol, alunos de 33 a 41 anos se interessam muito por tilhas,
e alunos de 42 a 50 anos se interessam em volei. Interessante ver que quanto mais velho, mais os gostos tentem a um só, a media do interesse 
com maior media das pessoas de 15 a 23 anos é 4.1, com exeção da faixa etária de 24 a 32, a media sempre aumenta, na faixa de 42 a 50 anos a media 
é de 4.5, quase todas as pessoas dessa faixa deram grau 5 para volei. Tambem é legal ver que Trilha faz parte do top 5 
interesses das três primeiras faixas etárias, mas na ultima não, isso pode ser gerado por conta da idade ser um fator
importante para uma atividade como essa.</p>

{% endblock %}