{% extends 'pages/analise.html'%}
{% load static %}

{% block pergunta %}
Quais interesses costumam ser selecionados em conjunto?
{% endblock %}

{% block conteudo %}
<h4>Análise</h4>

<p>Como nas análises anteriores, partiremos do ponto desenvolvido na <a href='../bianca/main.html'>primeira análise</a> no qual já temos a tabela com alunos e
interesses reunidos. </p>

<div class='container col-md-11 overflow-auto my-2'> {{df |safe}} </div>

<p>Queremos nos debruçar sobre a quesão de que interesses são mais frequentemente selecionados em conjunto.
    Realizando alguns truques de agrupamento, é possível obter as combinações e verificar qual o par mais frequente.
    Observa-se que o par é Praia e Handbol, com 14 ocorrências. Abaixo, podemos encontrar os 20 pares mais
    frequentes de serem escolhidos por um usuário.</p>

<div class='container col-md-11 overflow-auto my-2'> {{df0 |safe}} </div>

Porém, e se não tivermos interessados apenas na quantidade de pares mais frequente, mas também no grau
de importância do par? Iremos então somar o grau de cada par e chegar numa pontuação total. Esse score
não é muito distante do do ranking encontrado anteriormente, já que os pares mais frequentes tendem a ter
uma pontuação total maior.

<div class='container col-md-11 overflow-auto my-2'> {{df2 |safe}} </div>

<p>Precisamos então, analisar a média de cada par. Musculação e Museu rende a maior média, com 9,4. Cabe notar
que esses resultados podem ser distorcidos devido a não haverem restrições a quão pequena pode ser a amostra.</p>

<div class='container col-md-11 overflow-auto my-2'> {{df3 |safe}} </div>

<h4>Conclusão</h4>

A repetida presença de handebol e praia pode indicar que usuários que gostam de ir à praia jogam handebol
lá, ou que praticantes do esporte tem um gosto maior pelo lazer. Independente da causa, esse dado seria
útil na otimização de anúncios em uma aplicação como a nossa.

{% endblock %}
