{% extends 'pages/analise.html'%}
{% load static %}

{% block conteudo %}

<h1 class="text-center display-4 mt-2"> Análise Exploratória de Dados </h1>
<h4 class="text-center"> Raul Lomonte Figueiredo </h4> <br><br>

<p> Essa análise exploratória de dados tem o objetivo de responder a seguinte pergunta: </p>
<h4> <b> Como variam os interesses conforme as idades? </b></h4>

<p> Incialmente, vamos ver como são os dados que temos: </p>
<h3>Tabela de informação dos alunos </h3>
{{alunos_head |safe}}
<br>
<h3>Tabela dos interesses </h3>
{{interesses_head |safe}}


<p>Agora iremos juntas as duas tabelas atravéz de uma terceira, onde temos os registros de quais categorias e quais graus os alunos votaram.</p>
<h3>Tabela com todas as informações</h3>
{{merge_inicial | safe}}

<p>Agora vamos pegar apenas as colunas que nos importam:</p>

<h3>Tabela com todas as informações mais limpas</h3>
{{merge_limpo|safe}}

<p>Aqui começamos as análises, agrupei com idade e interesse, tirei a média do grau, pois caso não fizesse isso as idades com mais pessoas teriam valor maior,
    depois ordenei pelo grau, como são muitos interesses e muitas idades (de 15 a 50 anos) a tabela não ficou tão representativa.
 </p>

<h3>Tabela de relação idade com interesse </h3>
{{tabela_idade|safe}}

<p>A maneira que encontrei para deixar tudo mais visível é dividir as idades em intervalos de nove (temos 36 idades, então teremos 4 grupos) 
    e poderemos ver como cada interesse funciona para cada faixa etária e mostrar apenas as cinco coisas que cada faixa
    mais se interessa e tentar notar algum padrão ou tendencia.
</p>

<h3>Tabela de relação de interesse com faixa etária (15 a 23)   </h3>
{{de15_23|safe}}

<h3>Tabela de relação de interesse com faixa etária (24 a 32)   </h3>
{{de24_32|safe}}

<h3>Tabela de relação de interesse com faixa etária (33 a 41)   </h3>
{{de33_41|safe}}

<h3>Tabela de relação de interesse com faixa etária (42 a 50)   </h3>
{{de42_50|safe}}


<p>Podemos notar que o que mais interessa aos jovens de 15 a 23 anos são novelas, alunos de 24 a 32 anos se interessam mais por futebol, os de 33 a 41 anos se interessam muito por trilhas,
    de 42 a 50 anos se interessam em vôlei. Interessante ver que quanto mais velho, mais os gostos tentem ao principal, a maior média do interesse 
    com as pessoas de 15 a 23 anos é 4.1, com exceção da faixa etária de 24 a 32, a média sempre aumenta, na faixa de 42 a 50 anos a media 
    é de 4.5, quase todas as pessoas dessa faixa deram grau 5 para vôlei. Também é legal ver que Trilha faz parte do top 5 
    interesses das três primeiras faixas etárias, mas na última não, isso pode ser gerado por conta da idade ser um fator
    importante para uma atividade como essa. Agora veremos o que conseguimos de resultado vendo representações gráficas
    da idade com relação aos interesses, o ajuda a visualizar muito melhor que uma tabela, por conta da alta quantidade
    de dados.
    </p>


<img src="data:image/png;base64,{{ de15_23_graphic|safe }}">

<img src="data:image/png;base64,{{ de24_32_graphic|safe }}">

<img src="data:image/png;base64,{{ de33_41_graphic|safe }}">

<img src="data:image/png;base64,{{ de42_50_graphic|safe }}">

<p>Com o gráfico é possível ver uma grande quantidade de informação de maneira mais compactada. É interessante ver que todos
os gráficos tentem para a mesma forma, gostos mais nivelados ao meio, uma certa depressão ao final e o primeiro interesse
sempre é muito bem-marcado, sempre tem uma grande diferença do segundo lugar. 
</p>


<h2>Conclusão</h2>
<p>Com essa análise foi possível ver quais são os principais interesses de cada faixa etária, além disso, ver que todas 
as faixas se comportam de uma maneira padrão (todos os comentários foram feitos durante a análise). Por serem dados
gerados aleatoriamente não é possível achar padrão ou marcas tão fortes de interesses marcadas pela idade, o que 
certamente seria possível com dados reais.</p>
{% endblock %}