
$primary:      #4169E1 ;
$secondary:    #EEEEEE ;
$success:      #ADD8E6 ;
$info:         #00BFFF ;
$warning:      #330392;
$danger:       #4552b8 ;
$light:        #C0C0C0 ;

$dark:         #333333  ;
$white:        #ffffff ;


$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  10:$spacer * 5.1,
);

$btn-border-radius: 0.7rem;
$border-radius:     1rem ;

$btn-active-bg-tint-amount:   100%;


@import "bootstrap/scss/bootstrap";


.ms-5 {
  margin-left: ($spacer * 5) !important;
}

.mt-4 {
  margin-top: ($spacer * 1.5) !important;
}




.titulop{
font-family: 'Koh Santepheap', cursive;
}

%bp-message{
  margin-top: ($spacer * .25) !important;
  padding: ($spacer * .25) !important;
}

.message-you{
  @extend %bp-message;
  background-color: $white;
}

.message-me{
  @extend %bp-message;
  background-color: $success;
  text-align: end;
}

@mixin dandan{
  overflow-y: scroll;
}

.dandanone{
  @include dandan;
  height: 480px;
}

.dandantwo{
  @include dandan;
  height: 435px;
}

.bg-white {
	background: $white;
}	


.bg-blue{
    background:  $primary;
}

.perguntas{
    .titulo{
        font-family: 'Koh Santepheap', cursive;
    }
    .btn-alin{
        display:flex;
        justify-content:space-between
    }
    .btn-perg:hover{
    background-color: $white ;
    transition: 0.4s;
    }
}

#ranking-cards {
    max-width: 900px;
}

