$primary:      #0d6efd ;
$secondary:    #6610f2 ;
$success:      #6f42c1 ;
$info:         #d63384 ;
$warning:      #dc3545;
$danger:       #fd7e14 ;
$light:        #ffc107 ;
$dark:         #198754  ;

@import "bootstrap/scss/bootstrap";
