<!DOCTYPE html>
<html>
    <head>
        {% block cabecalho %}
                <title>Análises TINDEMAP</title>
        {% endblock %}
        {% block estilo %}
                <meta charset="utf-8"/>
	            <!-- Bootstrap CSS -->
	            <link rel="stylesheet" type="text/css" href="../../static/css/custom.css" /> <!--Mapeia o .css que é output do boostrap.scss-->
	            <!-- Bootstrap Javascript -->
	            <script src="../../static/bootstrap/dist/js/bootstrap.js" defer></script>
	            <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--Ajusta para a tela ficar responsiva ao device utilizado. Initial-scale evita zoom out infinito ao abrir tela em um novo device.-->
        {% endblock %}

        
        {% block barra_navegacao %}
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../static/img/logo.png" alt="logo do site" width="30" height="30">
                </a>
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="../bianca/main.html">Análise 1</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="../cristiano/main.html">Análise 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../daniel/main.html">Análise 3</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="../sylvio/main.html">Análise 4</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="../raul/main.html">Análise 5</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../pagina_inicial.html">Voltar ao site</a>
                </li>
              </ul>
            </div>
            </div>
        </nav>
        {% endblock %}


<body class="bg-secondary d-flex flex-column min-vh-100">
<div class='d-flex my-4'>
    <div class='container col-md-9 col-sm-11'>
      <h1 class="text mt-2"> Análise Exploratória de Dados </h1>
        <h3 class="font-weight-light mb-4">{% block pergunta %}{% endblock %}</h3>
    {% block conteudo %}
    {% endblock %}
    </div>
</div>
{% include 'pages/rodape.html' %}
</body>
