<!DOCTYPE html>
<html>
    <head>
        {% block cabecalho %}
                <title>TINDEMAP</title>
        {% endblock %}
        {% block estilo %}
                <meta charset="utf-8"/>
	            <!-- Bootstrap CSS -->
	            <link rel="stylesheet" type="text/css" href="../../static/css/custom.css" /> <!--Mapeia o .css que é output do boostrap.scss-->
	            <!-- Bootstrap Javascript -->
	            <script src="../../static/bootstrap/dist/js/bootstrap.bundle.min.js" defer></script>
	            <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--Ajusta para a tela ficar responsiva ao device utilizado. Initial-scale evita zoom out infinito ao abrir tela em um novo device.-->
        {% endblock %}
    </head>
    <body class="bg-secondary d-flex flex-column min-vh-100">
        {% block barra_navegacao_login %}
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../static/img/logo.png" alt="logo do site" width="30" height="30">
                </a>
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{%url 'login'%}">Login</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{%url 'cadastro'%}">Cadastrar</a>
                  </li>
              </ul>
            </div>
            </div>
        </nav>
        {% endblock %}

        {% block barra_navegacao_site %}
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../../static/img/logo.png" alt="logo do site" width="30" height="30">
                </a>
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'pagina-inicial'%}">Página Inicial</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{%url 'chat'%}">Chat</a>
                </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{%url 'ranking'%}">Ranking</a>
                </li>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Configurações
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{%url 'mudar-email'%}">Mudar e-mail</a></li>
                    <li><a class="dropdown-item" href="{%url 'mudar-senha'%}">Mudar senha</a></li>
                    <li><a class="dropdown-item" href="{%url 'login'%}">Sair</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{%url 'analises_bianca'%}">Ir para Análises</a>
                </li>
              </ul>
            </div>
            </div>
        </nav>
        {% endblock %}

        {% block conteudo %}
            <p>Conteúdo Padrão</p>
        {% endblock %}
        {% include 'pages/rodape.html' %}
    </body>
</html>