{% extends 'pages/base.html'%}
{% load static %}

{% block barra_navegacao_site%}
{% endblock %}

{% block conteudo %}
    <div class="container container-table position-relative mb-3">
        <div class="row mx-auto mt-4">
            <div class="col-md-4 mt-4 text-center">
                <img class="img-fluid m-3" alt="imagem ilustrativa de login" src="../../static/img/login.png">
            </div>
            <div class="col-md-8 bg-white">
                <div class="container mt-5">
                    <div class="position-relative p-2">
                        <div class="text-center mt-2 p-2">
                            <h1>Login</h1>
                            <p> Bem-vindo(a) ao Tindemap! Ainda não possui um login?
                            <a aria-current="page" href="/cadastro.html">Cadastre-se</a>
                            </p>
                        </div>
                    </div>
                    <div class="container bg-white position-relative p-3 mb-2">
                        <form>
                            <div class="form-group">
                                <label for="input-login-email">Insira seu email</label>
                                <input class="form-control mt-1" id="input-login-email" type="text" placeholder="Insira seu email" />
                            </div>
                            <div class="form-group mt-3">
                                <label for="input-login-senha">Insira sua senha</label>
                                <input class="form-control mt-1" id="input-login-senha" type="password" placeholder="Insira sua senha" />
                                <a aria-current="page" href="/recuperar_senha.html"> Esqueceu sua senha?</a>
                            </div>
                        </form>
                        <div class="text-center m-2 p-1">
                            <a href="pagina_inicial.html" class="btn btn-primary">Realizar login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
