{% extends 'pages/base.html'%}
{% load static %}

{% block barra_navegacao_login %}
{% endblock %}

{% block conteudo %}
    <!--Section Mudar Email-->
        <div class="container container-table position-relative mb-3">
            <div class="row mx-auto mt-4">
                <div class="col-md-4 bg-white text-center">
                    <img class="img-fluid m-3" alt="imagem ilustrativa de email" src="../../static/img/e-mail.png">
                </div>
                <div class="col-md-8 bg-white">
                    <div class="container mt-5">
                        <div class="position-relative p-2">
                            <div class="text-center mt-2 p-2">
                                <h2>Mude seu e-mail</h2>
                            </div>
                        </div>
                        <div class="container bg-white position-relative p-3 mb-3">
                            <form>
                                <label for="input-e-mail-antigo">E-mail antigo</label>
                                <input class="form-control mt-1" id="input-e-mail-antigo" type="text" placeholder="Insira seu e-mail antigo" />
                            	<label for="input-e-mail-novo">Novo e-mail</label>
                                <input class="form-control mt-1" id="input-e-mail-novo" type="text" placeholder="Insira seu e-mail novo" />
								<label for="input-confirmar-e-mail-novo">Confirmar novo e-mail</label>
                                <input class="form-control mt-1" id="input-confirmar-e-mail-novo" type="text" placeholder="Insira seu e-mail novo" />

							</form>
                            <div class="text-center m-2 p-1">
                                <a href="{%url 'pagina-inicial'%}" class="btn btn-primary">Enviar</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
{% endblock %}			