{% extends 'pages/base.html'%}
{% load static %}

{% block barra_navegacao_login %}
{% endblock %}

{% block conteudo %}
    <!--Section Mudar Senha-->
        <div class="container container-table position-relative mb-3">
            <div class="row mx-auto mt-4">
                <div class="col-md-4 bg-white text-center">
                    <img class="img-fluid m-3" alt="imagem ilustrativa de senha" src="../../static/img/senha.png">
                </div>
                <div class="col-md-8 bg-white">
                    <div class="container mt-5">
                        <div class="position-relative p-2">
                            <div class="text-center mt-2 p-2">
                                <h2>Mude sua senha</h2>
                            </div>
                        </div>
                        <div class="container bg-white position-relative p-3 mb-3">
                            <form>
                                <label for="input-senha-antiga">Senha antiga</label>
                                <input class="form-control mt-1" id="input-senha-antiga" type="text" placeholder="Insira sua senha antiga" />
                            	<label for="input-senha-nova">Nova senha</label>
                                <input class="form-control mt-1" id="input-senha-nova" type="text" placeholder="Insira sua senha nova" />
								<label for="input-confirmar-senha-nova">Confirmar nova senha</label>
                                <input class="form-control mt-1" id="input-confirmar-senha-nova" type="text" placeholder="Insira sua senha nova" />

							</form>
                            <div class="text-center m-2 p-1">
                                <a href="{%url 'pagina-inicial'%}" class="btn btn-primary">Enviar</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
{% endblock %}