{% extends 'pages/base.html'%}
{% load static %}
 
{% block barra_navegacao_login %}
{% endblock %}

{% block cabecalho %}
	<title>Página Inicial</title>
{% endblock %}

{% block conteudo %}
		<div class="container mb-3">
			<div class="container mb-3">
				<div class="col-md-12 row mt-4">
					<!-- Criando título com o nome do site e colocando a logo -->
	
					<div class="col-md-8 text-center">
						<div class="row-md-12">
							<div class="row-md-4">
							<strong class="text-center text-dark my-auto display-1">TINDEMAP</strong>
							</div>
							<div class="row-md-8 mt-5">
							<img src="../../static/img/logo.gif" alt="gif com a logo do site com imagens de brilho piscando ao redor" class="image-responsive" width=300 height=300>
							</div>
						</div>
					</div>
	<!-- Criando os botões para as notificações -->
					<div class="col-md-4">
						<a class='col-md-12 mt-4 text-white btn btn-success' href='{%url "chat"%}' role="button">Você tem uma nova mensagem</a>
						<a class='col-md-12 mt-4 text-white btn btn-success' href='{%url "ranking"%}' role="button">Entrou uma nova pessoa no seu ranking</a>
						<a class='col-md-12 mt-4 text-white btn btn-success' href='{%url "chat"%}' role="button">Você tem uma nova mensagem</a>
						<a class='col-md-12 mt-4 text-white btn btn-success' href='{%url "ranking"%}' role="button">Entrou uma nova pessoa no seu ranking</a>
						<a class='col-md-12 mt-4 text-white btn btn-success' href='{%url "chat"%}' role="button">Você tem uma nova mensagem</a>
						<a class='col-md-12 mt-4 text-white btn btn-success' href='{%url "chat"%}' role="button">Você tem uma nova mensagem</a>
						<a class='col-md-12 mt-4 text-white btn btn-success' href='{%url "ranking"%}' role="button">Entrou uma nova pessoa no seu ranking</a>
						<a class='col-md-12 mt-4 text-white btn btn-success' href='{%url "chat"%}' role="button">Você tem uma nova mensagem</a>
					</div>
				</div>
			</div>
		</div>
{% endblock %} 
