{% extends 'pages/base.html'%}
{% load static %}
 
{% block barra_navegacao_login %}
{% endblock %}

{% block cabecalho %}
	<title>Análise</title>
{% endblock %}

{% block conteudo %}
    <body class="bg-secondary">
        <h2 style="text-align:center">Análise Exploratória de Dados</h1>
        <h3 style="text-align:center">Bianca Dias de Carvalho</h3>

        <p>Essa análise exploratória de dados tem o objetivo de responder a seguinte pergunta:</p>
        <h4 style="text-align:center">Como variam os interesses conforme as idades?</b></h4>   
    </body>
{% endblock %}