{% extends 'pages/analise.html'%}
{% load static %}

{% block pergunta %}
Como variam os interesses dos usuários de acordo com as faixas etárias?
{% endblock %}

{% block conteudo %}
        <p> Inicialmente, vamos exibir os primeiros elementos do banco que armazena os alunos
                para ter uma noção de como estão estruturados os dados. Observamos que cada
                aluno possui os atributos id, nome, idade, sexo, curso e período.
        </p>
        <div class='container col-md-11'> {{alunos_head |safe}} </div>
        <br>
        <p> Vamos também analisar como os interesses estão estruturados. Aqui não usaremos o cabeçalho,
                pois os interesses estão ordenados de forma que veríamos apenas uma categoria e um grau.
                Iremos, então, selecionar cinco interesses aleatórios.
        </p>
        <div class='container col-md-11'> {{interesses_sample |safe}} </div>

        <p> Podemos então exibir o dataframe que relaciona os alunos e seus interesses. Essa relação será
                usada pra criar um dataframe único que funde ambos.
        </p>
        <div class='container col-md-11'> {{alunos_interesses_head |safe}} </div>

        Abaixo, o resultado final, com a tabela 

        <h3 style="text-align:center">Tabela fundida</h3>
        {{df | safe}}
        <h3 style="text-align:center">Tabela: sexo feminino e alto grau de interesse</h3>
        {{df_f | safe}}
        <h3 style="text-align:center">Tabela: sexo masculino e alto grau de interesse</h3>
        {{df_m | safe}}

        <img src="data:image/png;base64,{{ graphic|safe }}">
{% endblock %}