{% extends 'pages/analise.html'%}
{% load static %}

{% block pergunta %}
        Como os interesses variam de acordo com o gênero?
{% endblock %}

{% block conteudo %}
        A partir da tabela reunindo alunos e interesses <a href="{%url 'main'%}">desenvolvida anteriormente</a>, vamos buscar estudar
        a distribuição dos interesses de acordo com o gênero do usuário.

        <div class='container col-md-11 overflow-auto'> {{df | safe}}</div>

        <p> Assim, separamos os dados em dois dataframes diferentes, um com os dados de pessoas do gênero feminino:</p>
        <div class='container col-md-11 overflow-auto'> {{df_f | safe}}</div>

        <p> E outro com pessoas do gênero masculino:</p>
        <div class='container col-md-11 overflow-auto'> {{df_m | safe}}</div>

        <p> Então, fizemos visualizações simples para ver a a diferença do grau de interesse em várias categorias de acordo com o sexo: </p>
        <img class="class=img-fluid" src="data:image/png;base64,{{ grafico1|safe }}">

        <p>Aparentemente, os interesses estão distribuidos de forma igual entre ambos os sexos. Para concluirmos isso, iremos fazer uma análise a partir de cada dataframe separadamente. </p>
        <img class="class=img-fluid my-3" src="data:image/png;base64,{{ grafico2 |safe }}">
        <img class="class=img-fluid my-3" src="data:image/png;base64,{{ grafico3 |safe }}">
        <h3 style="text-align:center my-3">Conclusão</h3>
        <p>Conseguimos, assim, ver uma sutil diferença entre o grau de interesse em cada atividade. Percebemos que as mulheres, de forma geral, têm mais interresse em músicas e literatura, enquanto os homens têm mais interesse em esportes e atividades que possuem contato com a natureza.</p>

{% endblock %}