{% extends 'pages/analise.html'%}
{% load static %}

{% block pergunta %}
Hábitos de vida saudáveis são importantes para os alunos?
{% endblock %}

{% block conteudo %}

<p> Para responder a essa pergunta, vamos iniciar analisando todos os tipos diferentes de interesses:</p>
{% for interesse in interesses_distinct %}
<li>
    {{interesse.nome}}
</li>    
{% endfor %}

<br>
<p> Dentre tais interesses, vamos considerar como parte de um estilo de vida saudável os hábitos a seguir: </p>
{% for interesse in interesses_distinct %}
{% if interesse.nome in interesses_saudaveis %}
<li> 
    {{interesse.nome}}
</li>
{% endif %}
{% endfor %}    

<br>
<p>Vamos considerar como nossa definição de "alunos com hábitos saudáveis" aqueles que possuam algum desses
  interesses com grau alto (>=3)</p>
<p>Para isso vamos, de maneira similar à seção 1 da <a href='../bianca/main.html'>primeira análise</a>,
criar um dataframe de Alunos e um de interesses e fundi-los.</p>

<div class='container overflow-auto'> {{df |safe}} </div>

<br> </br>
<p> Agora, filtramos todos os registros que contenham apenas os interesses ditos ali em cima e cujo grau seja maior que 3:
<br></br>
<div class='container overflow-auto'> {{df_filtrado |safe}} </div>
<br> </br>

<p> Por fim, como ambas as tabelas podem ter mais de um aluno com diferentes interesses,
  fazemos um .unique() por aluno e comparamos o tamanho desse com o .unique do dataframe original, para calcular a porcentagem de alunos com hábitos saudáveis.
<p> Tamanho do DataFrame filtrado: {{tamanho_filtrado}} </p>
<p> Tamanho do DataFrame original: {{tamanho_original}} </p>
<p> E, assim, </p>
<h4> A porcentagem de alunos que possuem hábitos de vida saudáveis é {{porcentagem}}%. </h4>
{% endblock %}