{% extends 'pages/analise.html'%}
{% load static %}

{% block pergunta %}
Com o que os alunos mais se interessam? 
{% endblock %}


{% block conteudo %}


<h3>Análise</h3>
<p>Considerando o ponto das análises anteriores, usaremos a tabela que liga os interesses aos alunos.</p>

<h4>1. Selecionando dados para analise</h4>
<p>Nessa análise pretendo ver os maiores interesses de todos os alunos, 
  os interesses dos alunos por curso e ver se existe relação entre os cursos,
   então selecionei apenas esses dados da tabela inicial para a análise. </p>
<div class='container col-md-11 overflow-auto'> {{data|safe}}</div>

<h4>2. Analisando o interesse de todos os alunos. </h4>
<p>Agora vamos agrupar por interesse e considerar o grau como uma nota, então teremos que as categorias com maiores notas
  mais interessantes para os alunos.</p>
  <div class='container col-md-11 overflow-auto'> {{data_soma_interesse|safe}}</div>

 <p>A tabela deixa bem claro quais são os principais interesses dos alunos, mas é possível ver uma quantidade muito
  limitada de interesses, vamos colocar isso em um gráfico para ser possível ver todos os interesses e assim ter a visão mais geral, além dos primeiros. 
 </p>

 <img class='img-fluid' src="data:image/png;base64,{{ data_soma_interesse_graf|safe  }}">

<p>Assim já conseguimos ver claramente o interesse dos alunos, de forma geral, sobre cada tema. 
</p>
<h4>3. Analisando o interesse dos alunos de Ciência de Dados</h2>
 <p>Primeiro vamos ver com o que os alunos de Ciência de dados se interessam mais.</p>
 <p>Chegamos a esse resultado de top 5 interesses dos alunos que fazem Ciência de Dados:</p>
<div class='container col-md-11 overflow-auto'> {{CD_gb |safe}}</div>
<p>Interessante ver que somente dois dos Top 5 interesses dos alunos de Ciencia de Dados estão no Top 5 geral.</p>
<p>Agora vamos representar graficamente, para conseguir ver todos os interesses e as avaliações desses mesmos alunos.</p>

<img class='img-fluid' src="data:image/png;base64,{{ CD_gb_graf|safe  }}">

<p>Com o grafico da uma visão muito boa de todos os interesses, do mais votado ao menos votado.</p>

<h4>4. Analisando o interesse dos alunos de Matemática Aplicada</h2>
<p>Agora vamos ver como são os interesses das pessoas que cursam Matemática Aplicada. </p>
<p>Esse seria o Top 5 interesses dos alunos de Matemática Aplicada:</p>
<div class='container col-md-11 overflow-auto'> {{MAT_gb|safe}}</div>
<p>Aqui vemos que três interesses do Top 5 de Matemática estão no Top 5 geral, e que não conhecide com nenhum interesse
do Top 5 de Ciencia de Dados.</p>

<img class='img-fluid' src="data:image/png;base64,{{ MAT_gb_graf|safe  }}">
<h2>Matemática Aplicada e Ciencia de Dados</h2>
Para uma comparação final entre os dois, vamos ver o top 5 dos dois juntos em apenas uma tabela e um grafico de barra duplas. 
<div class='container col-md-11 overflow-auto'> {{CD_MAT |safe}}</div>

<img class='img-fluid' src="data:image/png;base64,{{ CD_MAT_graf|safe  }}">


{% endblock %}