{% extends 'pages/analise.html'%}
{% load static %}

{% block conteudo %}

<h1 class="text-center display-4 mt-2"> Análise Exploratória de Dados </h1>
<h4 class="text-center"> Raul Lomonte Figueiredo </h4> <br><br>

<p> Essa análise exploratória de dados tem o objetivo de responder a seguinte pergunta: </p>
<h4> <b>  Quais são os maiores interesses em comuns? </b></h4>

<p> Incialmente, vamos ver como são os dados que temos: </p>
<h3>Tabela de informação dos alunos </h3>
{{alunos_head |safe}}
<br>
<h3>Tabela dos interesses </h3>
{{interesses_head |safe}}

<p>Primeiramente vamos juntar as duas tabelas, isso será feito com a ajuda da tabela que faz a referência n:n dessas tabelas.
  Fazendo o merge e pegando apenas as colunas que nos interessam, chegamos em:
  </p>

<h3>Tabela com os dados que nos importam</h3>
{{data|safe}}

<p>Agora vamos agrupar por interesse e considerar o grau como uma nota, então teremos que os interesses com maiores notas
  mais comuns e mais atrativos de acordo com a base.</p>
{{data_soma_interesse|safe}}

 <p>A tabela deixa bem claro quais são os principais interesses dos alunos, mas é possivel ver uma quantidade muito
  limitada de interesses, vamos colocar isso em um gráfico para ser possível ver todos os interesses e assim ter a visão mais geral, 
  uma visão além dos primeiros. 

 </p>

 <img src="data:image/png;base64,{{ data_soma_interesse_graf|safe }}">
<p>Nesse ponto já respondemos à pergunta do maior interesse comum entre os alunos, mas vamos pegar os dois maiores interesses e 
  ver melhor como foram votados. (Como a pessoa tem a opção de não votar, mesmo o interesse tendo grau um já é algo considerativo,
  fazendo essa análise podemos ver por que Praia e Handbol são tão populares, pode haver muitas pessoas votando com notas medias
  ou poucas pessoas votando com notas muito altas.) ---> tentei fazer essa parta mas tava dando mt erro ai larguei mao,
  ai se possivel alguem fechar a conclusão dessa aq ou aprofundar mais antes de concluir 
</p>





{% endblock %}